* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8dd0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: 1px 5px 5px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 0.6rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.6rem;
    min-width: 50px;
    margin-left: 8px;
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #8dd0f5;
    cursor: pointer;
}

/* clima */
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}